   <div class="row">
    <div class="col-md-4 col-sm-4">
     <p id="introduction">Welcome to twitter.<br>
     ※これはプロトタイプアプリです。
     </p>
    </div>
    <div class="col-md-4 col-sm-4">
     <div class="login">
      <h2 class="login-header">Log in</h2>
      <form class="login-container">
       <p><input type="email" placeholder="Email"></p>
       <p><input type="password" placeholder="Password"></p>
       <p><input type="submit" value="Log in"></p>
      </form>
     </div>
    </div>
    <div class="col-md-4 col-sm-4">
     <div class="signup">
      <h2 class="signup-header">Sign Up</h2>
      <form class="signup-container">
       <p><input type="name" placeholder="Fullname"></p>
       <p><input type="email" placeholder="Email"></p>
       <p><input type="password" placeholder="Password"></p>
       <p><input type="submit" value="Sign Up"></p>
      </form> 
    </div>
   </div>
 </body>
</html>